*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
bin/
.doppler
.env
.env.local
# See: https://github.com/ad3n/kmt
public
Kmtfile.yml

.idea/

# Mono binary
cmd/mono/mono

# only ignore the .sql file in our root directory
/*.sql

# tmp folder for our air builds
tmp

# generated test coverage
coverage
